.navbar {
  top: 5px;
  width: 80%;
  margin: auto;
  border-radius: 10px;

  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 234234;
}

@media (max-width: 600px) {
  .navbar {
    width: 95%;
  }
}
