.navbar {
  top: 5px;
  width: 80%;
  margin: auto;
  border-radius: 10px;

  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  z-index: 234234;
}
